<a href="https://colab.research.google.com/github/shenbagammlc/MLpro/blob/main/courserasqlpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#sql lite connect
!pip install sqlite3
import sqlite3

#var name = sqlite3connect
Connection=sqlite3.connect('db.sqlite')

cursor=Connection.cursor()

cursor.execute('''
   CREATE TABLE users123 (
    id INTEGER PRIMARY KEY,
    name TEXT,
    email TEXT
  )
''')
Connection.commit()


or

import sqlite3

conn = sqlite3.connect('db.sqlite')



table='CREATE TABLE users (id INTEGER PRIMARY KEY,  name TEXT, email TEXT )'
cursor = conn.cursor()
cursor.execute(table)


conn.commit()

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [ ]:
# Insert data

cursor.execute('''
  INSERT INTO users (name, email)
  VALUES (?, ?)
''', ('John Doe', 'john@email.com'))

conn.commit()

In [ ]:
# Create table

import sqlite3

conn = sqlite3.connect('db.sqlite')

cursor = conn.cursor()

cursor.execute('''
  CREATE TABLE usersswwb (
    id INTEGER PRIMARY KEY,
    name TEXT,
    email TEXT
  )
''')

conn.commit()

# Insert data

cursor.execute('''
  INSERT INTO users (name, email)
  VALUES (?, ?)
''', ('John Doe', 'john@email.com'))

conn.commit()

# Query table

cursor.execute('''
  SELECT * FROM usersswwb
''')

for row in cursor:
  print(row)

In [ ]:
!pip install faker
from faker import Faker
fake=Faker()

Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (28.4.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [ ]:
names=[fake.name().split() for i in range(10)]
names=[name for name in names if len(name)==2]
names

[['Rebecca', 'Campbell'],
 ['Stephanie', 'Perez'],
 ['Angela', 'Lopez'],
 ['Ashley', 'Richards'],
 ['James', 'Noble'],
 ['Carol', 'Moore'],
 ['Nathan', 'King'],
 ['Frank', 'Lowe'],
 ['Anthony', 'Reed'],
 ['Dawn', 'Hardin']]

In [ ]:
conn=sqlite3.connect('smaple.db')
cursor=conn.cursor()
insert_query='INSERT INTO usersswb (name,email) VALUES (?,?)'

for name in names:
    cursor.execute(insert_query,name)
conn.commit()

OperationalError: no such table: usersswb

In [ ]:
select_query='SELECT * FROM userswwb'
cursor.execute(select_query)
for row in cursor:
    print(row)

In [ ]:

select_query='SELECT * FROM userswwb'
for i in cursor.execute(select_query):
  print(i)